<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BOOK LIST</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h2>BOOK LIST</h2>
        {% if not books %}
            <p>書籍が存在しません。</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th colspan="4">Books</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>名前</td><td>価格</td><td></td><td></td>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>{{ book.name }}</td><td>{{ book.price }}</td>
                        <td><button type="submit" onclick="location.href='/edit_book/{{ book.id }}'" formmethod="get">編集</button></td>
                        <td><button onclick="location.href='/delete_book/{{ book.id }}'" formmethod="get">削除</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button onclick="location.href='/home'" formmethod="get">ホームへ</button>

    </body>
</html>