<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>LOGIN</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    </head>
    <body>

        {% if message %}
            <p>メッセージ：{{ message }}</p>
        {% endif %}
        {% if error %}
            <p>エラー：{{ error }}</p>
        {% endif %}

        <form action="/auth" method="post">
            <h1>LOGIN</h1>
            <p><input type="text" name="name" placeholder="User id（必須）" required/></p>
            <p><input type="password" name="pass" placeholder="Password（必須）" required/></p>
            <button>Login</button>
        </form>
        <br>
        <button onclick="location.href='/add_user'" formmethod="get">ユーザを新規追加</button>
    </body>
</html>