<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    </head>
    <body>

    <form action="/auth" method="post">
            <h1>Login</h1>
            <p><input type="text" name="name" placeholder="User id（必須）" required/></p>
            <p><input type="password" name="pass" placeholder="Password（必須）" required/></p>
            <button>Login</button>
        </form>

    </body>
</html>